.App {
  font-family: 'lato', sans-serif;
  text-align: center;
  --body-padding: 80px;
  --body-margin: 60px;
  --body-color: #050F19;
}

html {
  scroll-behavior: smooth;
}

main {
  color: var(--body-color);
  padding: 0 var(--body-padding);
}

.businesses-container {
  margin: var(--body-margin) 0;
}

.flex-direction-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-container{
  animation: hero-resize 0.75s 1.05s forwards;
  background-color: #000;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
}

.hero-body{
  display: flex;
  flex-direction: column;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.05, 1.176);
}

.hero-bt {
  animation: hero-bt-resize 0.75s 3s forwards;
  background-color: #fff;
  background-image: linear-gradient(#396ae6, #396ae6);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  border: 0;
  border-radius: 45px;
  color: #000;
  cursor: pointer;
  margin: 10px auto;
  padding: 15px 20px;
  transform: translateY(70px);
  min-width: 200px;
  transition: background-size 0.5s, color 0.25s;
  text-decoration: none;
}

.hero-bt:hover{
  background-size: 100% 100%;
  color: #fff;
}

.hero-bt span{
  animation: fade-in 0.75s 3.5s forwards;
  opacity: 0;
}

.hero-heading {
  animation: drop-down 0.75s 2.25s forwards;
  color: #fff;
  font-size: 55px;
  transform: translateY(-250px);
}

.img-overlay {
  animation: intro-fade 0.75s 0.25s forwards;
  background-color: rgba(0,0,0,1);
  border-radius: inherit;
  height: inherit;
  left: 0;
  top: 0;
  position: absolute;
  width: inherit;
}

.fade-up {
  animation: fade-up 0.75s 0.5s forwards;
}


div.loading{
  display: flex;
}

div.loading {
  animation: loading 0.75s linear infinite;
  background-color: #fff;
  border-radius: 100%;
  border: 5px solid #396ae6bb;
  border-top: 5px solid #fff;
  padding: 20px;
}

@keyframes loading{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes drop-down {
  from {transform: translateY(-250px);}
  to {transform: translateY(0);}
}

@keyframes fade-down {
  from {transform: translateY(-50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

@keyframes fade-up {
  from {transform: translateY(50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fill-out {
  from {background-size: 0% 100%;}
  to {background-size: 100% 100%;}
}

@keyframes fill-right {
  from {background-size: 0% 100%;}
  to {background-size: 100% 100%;}
}

@keyframes hero-resize {
  from {transform: scale(1) translateY(0); border-radius: 0px;}
  to {transform: scale(0.95, 0.85) translateY(30px); border-radius: 15px;}
}

@keyframes hero-bt-resize {
  from {width: 50px; transform: translateY(70px);}
  to {width: 25%; transform: translateY(0px);}
}

@keyframes intro-fade {
  from {background-color: rgba(0,0,0,1);}
  to {background-color: rgba(0,0,0,0.3);}
}

@keyframes slideshow {
  0% {opacity:1;}
  25% {opacity:1;}
  26% {opacity: 0;}
  100% {opacity: 0;}
}


@media only screen and (max-width: 790px){
  .App {
    --body-padding: 20px;
    --body-margin: 40px;
    font-size: 12px;
  }
  .hero-body {
    width: 90%;
  }
  .hero-heading {
    font-size: 40px;
  }
  .hero-bt {
    font-size: 16.5px;
    min-width: 70%;
  }
  .country-container {
    margin-bottom: 0;
  }
  .country-details, .covid-info {
    font-size: 12px;
  }
  .travel-advisory {
    font-size: 15px;
  }
  div.country-details-container, div.flex-direction {
    flex-direction: column;
  }
  div.businesses-container div > h2 {
    font-size: 24px;
  }
  .login-bt-container, .logo-link-container {
    display: none;
  }
  .searchbar .input-container {
    width: 100%;
  }
  .searchbar input {
    text-align: center;
  }
  .country-images-container {
    order: 1;
    width: 100%;
    min-height: 60vw;
  }
  .country-details {
    order: 3;
    flex-direction: row;
    max-width: initial;
    text-align: center;
    flex-wrap: wrap;
  }
  .country-details > div.flex-direction-col {
    justify-content: initial;
  }
  .country-flag {
    margin: auto;
  }
  .country-container .country-details > div {
    flex: 50% 1;
  }
  .country-name {
    font-size: 30px;
  }
}