.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.body-padding{
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.body-margin {
  padding-top: 70px !important;
  margin-bottom: 60px !important;
}

.flex-direction-col {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
}

.flex-direction-row {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.hero-container{
  animation: hero-resize 0.75s 1.05s forwards;
  background-image: url('../assets/images/hero-bg2.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
}

.hero-body{
  display: flex;
  flex-direction: column;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.05, 1.176);
}

.hero-bt {
  animation: hero-bt-resize 0.75s 3s forwards;
  background-color: #fff;
  background-image: linear-gradient(#396ae6, #396ae6);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  border: 0;
  border-radius: 45px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px auto;
  padding: 15px 20px;
  height: 50px;
  transform: translateY(70px);
  width: 50px;
  transition: background-size 0.5s, color 0.25s;
  /*width max-content, height: auto */
}

.hero-bt:hover{
  background-size: 100% 100%;
  color: #fff;
}

.hero-bt span{
  animation: fade-in 0.75s 3.5s forwards;
  opacity: 0;
}

.hero-heading {
  animation: drop-down 0.75s 2.25s forwards;
  color: #fff;
  font-size: 55px;
  transform: translateY(-150px);
}

.img-overlay {
  animation: intro-fade 0.75s 0.25s forwards;
  background-color: rgba(0,0,0,1);
  border-radius: inherit;
  height: inherit;
  left: 0;
  top: 0;
  position: absolute;
  width: inherit;
}

@keyframes drop-down {
  from {transform: translateY(-150px);}
  to {transform: translateY(0);}
}

@keyframes fade-down {
  from {transform: translateY(-50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

@keyframes fade-up {
  from {transform: translateY(50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fill-out {
  from {background-size: 0% 100%;}
  to {background-size: 100% 100%;}
}

@keyframes fill-right {
  from {background-size: 0% 100%;}
  to {background-size: 100% 100%;}
}

@keyframes hero-resize {
  from {transform: scale(1) translateY(0); border-radius: 0px;}
  to {transform: scale(0.95, 0.85) translateY(30px); border-radius: 15px;}
}

@keyframes hero-bt-resize {
  from {width: 50px; transform: translateY(70px);}
  to {width: 25%; transform: translateY(0px);}
}

@keyframes intro-fade {
  from {background-color: rgba(0,0,0,1);}
  to {background-color: rgba(0,0,0,0.3);}
}

@keyframes slideshow {
  0% {opacity:1;}
  25% {opacity:1;}
  26% {opacity: 0;}
  100% {opacity: 0;}
}


@media only screen and (max-width: 450px){
  .App {
    font-size: 12px;
  }
  .hero-body {
    width: 90%;
  }
  .hero-heading {
    font-size: 40px;
  }
  .hero-bt {
    width: 50% !important;
  }
  .country-details, .covid-info, 
  div.covid-info-container div.body-padding,
  .searchbar input  {
    font-size: 12px;
  }
  /* change these */
  .body-padding {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .body-margin {
    padding-top: 50px !important;
  }
  .travel-advisory {
    font-size: 15px !important;
  }
  div.covid-info-container div.body-padding,
  .country-details-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  div.country-details-container {
    flex-direction: column !important;
  }
  div.businesses-container div > h2 {
    font-size: 24px !important;
  }
  .login-bt-container, .logo-link-container {
    display: none;
  }
  .searchbar .input-container {
    width: 100%;
  }
  .searchbar input {
    text-align: center !important;
  }
  .country-images-container {
    order: 1;
    width: 100%;
    min-height: 250px;
  }
  .country-details {
    order: 3;
    flex-direction: row !important;
    max-width: initial !important;
    text-align: center !important;
  }
  .country-details > div.flex-direction-col {
    justify-content: initial;
  }
  .country-flag {
    margin: auto;
  }
  .country-container .country-details > div {
    flex: 25%;
  }
  .country-name {
    font-size: 30px;
  }
}