.searchbar {
    flex: 33%;
}

.searchbar input{
    border: 0;
    border-radius: 45px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    padding: 15px 20px;
    transition: box-shadow 0.2s;
    width: 100%;
}

.searchbar .input-container{
    border: 0;
    border-radius: 45px;
    box-shadow: 0px 1px 4px #ccc;
    margin: auto;
    width: 60%;
}

.searchbar input:focus {
    box-shadow: 0px 0px 0px 1px #396ae6 !important;
}