.businessList {
  animation: fade-up 1s forwards;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1.75rem 0;
  opacity: 0;
  transform: translateY(50px);
}

.businessList div.loading{
  display: flex;
}

div.loading {
  animation: loading 1.5s linear infinite;
  background-color: #fff;
  border-radius: 100%;
  border: 5px solid #ccc;
  border-top: 5px solid #396ae6;
  padding: 20px;
}

@keyframes loading{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}