.businessList {
  animation: fade-up 1s forwards;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1.75rem 0;
  opacity: 0;
  transform: translateY(50px);
}

.businessList div.loading{
  display: flex;
}

div.loading div{
  animation: loading 2s infinite;
  background-color: #28a745;
  border-radius: 50%;
  height: 10px;
  margin: 10px;
  width: 10px;
}

div.loading div:nth-child(2){
  animation-delay: 0.25s;
}

div.loading div:nth-child(3){
  animation-delay: 0.5s;
}

@keyframes loading{
  0%{background-color: #28a745; transform: scale(1,1);}
  50%{background-color: #f0c36c; transform: scale(1.5,1.5);}
  0%{background-color: #28a745; transform: scale(1,1);}
}