.country-name {
    font-size: 40px;
}

.country-details-container {
    padding: 20px 0px;
    position: relative;
}

.country-details {
    text-align: left;
}

.country-flag {
    max-width: 50px;
    margin-bottom: 2px; /* temporary fix */
    box-shadow: 1px 1px 2px #ccc;
}

.country-images-container {
    border-radius: 10px;
    left: 50%;
    max-width: 700px;
    max-height: 350px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 7%;
    transform: translateX(-50%);
}

.country-images-container img{
    width: 100%;
}

.country-container div div div > span, 
.country-container div.flex-direction-row div > span {
    animation: fade-up 0.75s 0.5s forwards;
    color: #666;
    opacity: 0;
    transform: translateY(50px);
}

.country-container .travel-advisory {
    animation: fill-out 1s ease forwards;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 15px 0;
}

.cdc-link {
    color: rgb(58, 106, 228);
    font-weight: 500;
    text-decoration: none;
}

.country-container .covid-info {
    animation: fade-in 1s ease forwards;
    color: #444;
    opacity: 0;
    padding: 10px 0;
}

.country-container .country-details > div,
div.country-container div.covid-info-container div > div {
    overflow: hidden;
}

.country-container .country-details 
div.flex-direction-col > h3, div.country-container div div 
div.flex-direction-col > h3 {
    animation: drop-down 0.75s forwards;
    transform: translateY(-150px);
}

.slide-transition {
    animation: fade-out ease 1s 9s;
    z-index: 5 !important;
}

@keyframes fill-out {
    from {background-size: 0% 100%;}
    to {background-size: 100% 100%;}
}