.country-container {
    padding: var(--body-padding) 0;
}

.country-name {
    font-size: 40px;
}

.country-details-container {
    padding: 20px var(--body-padding);
    position: relative;
}

.country-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    max-width: 150px;
}

.text-overflow-el {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.country-flag {
    max-width: 50px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 2px #ccc;
}

.country-images-container {
    border-radius: 10px;
    position: relative;
    width: 60%;
    height: auto;
    overflow: hidden;
}

.country-images-container > .loading {
    box-sizing: border-box;
    margin: auto;
    width: 20px;
}

.country-images-container img{
    border-radius: 10px;
    height: 100%;
    left: 50%;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

.country-container div div div > span, 
.country-container div.flex-direction div > span {
    color: #666;
    opacity: 0;
    transform: translateY(50px);
}

.country-container .country-details > div {
    overflow: hidden;
}

.country-container .country-details 
div.flex-direction-col > h3, div.country-container div div 
div.flex-direction-col > h3 {
    animation: drop-down 0.75s forwards;
    transform: translateY(-150px);
}

div.businesses-container div > h2 {
    font-size: 32px;
    font-weight: 400;
}


div.country-images-container img {
    animation: slideshow 40s infinite;
}

div.country-images-container img:nth-child(1){
    animation-delay: 30s;
}

div.country-images-container img:nth-child(2){
    animation-delay: 20s;
}

div.country-images-container img:nth-child(3){
    animation-delay: 10s;
}

div.country-images-container img:nth-child(4){
    animation-delay: 0s;
}
