.country-name {
    font-size: 40px;
}

.country-details-container {
    padding: 20px 0px;
}

.country-details {
    text-align: left;
}

.country-flag {
    max-width: 50px;
    box-shadow: 1px 1px 2px #ccc;
}

.country-images-container {
    border-radius: 10px;
    max-height: 400px;
    overflow: hidden;
    max-width: 700px;
}

.country-images-container img{
    width: 100%;
}

.country-container div div div > span, 
.country-container div.flex-direction-row div > span {
    animation: fade-down 0.75s forwards;
    color: #666;
    opacity: 0;
    transform: translateY(-50px);
}

.country-container .travel-advisory {
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin: auto 80px;
    padding: 15px 0;

}

.cdc-link {
    color: rgb(58, 106, 228);
    font-weight: 500;
    text-decoration: none;
}