.searchbar {
    width: 20%;
    border: 0.25px solid #ccc !important;
    box-shadow: 0px 1px 4px #ccc;
}

.searchbar input{
    border: 0;
    border-radius: inherit;
    outline: none;
    width: 100%;
    font-size: 14px;
}
